NODE_ENV=development
API_PORT=4000

DATABASE_URL=postgresql://jugasaro:jugasaro_dev@localhost:5434/jugasaro?schema=public

JWT_SECRET=change_me_in_prod_please_at_least_32_chars_long
JWT_EXPIRES_IN=7d
COOKIE_DOMAIN=localhost

CORS_ORIGINS=http://localhost:3000
